<section
  class='tab ability {{tab.cssClass}}'
  data-group='primary'
  data-tab='ability'
>
<h2>Description</h2>
<div class="info-mid">
    <div class="description">
        {{#if editable}}
        <prose-mirror name='system.description' data-document-uuid='{{item.uuid}}' value='{{system.description}}'
            collaborate='false' toggled='false'>
            {{{descriptionHTML}}}
        </prose-mirror>
        {{else}}
        {{{descriptionHTML}}}
        {{/if}}
    </div>
</div>

</section>