<div>
		<h2>{{localize 'MYZ.DESCRIPTION'}}</h2>

  {{#if editable}}
  <prose-mirror style='height: 320px;' name='system.description' data-document-uuid='{{item.uuid}}' value='{{system.description}}' collaborate='false' toggled='true'>
    {{{descriptionHTML}}}
  </prose-mirror>
  {{else}}
    {{{descriptionHTML}}}
  {{/if}}

</div>