<section
  class='tab weapon {{tab.cssClass}}'
  data-group='primary'
  data-tab='weapon'
>

 <div>
        <div class="grid grid-4col">
            <div class="item-attr-row">
                <label for="system.damage" class="resource-label">{{localize 'MYZ.DAMAGE'}}</label>
                <input type="text" name="system.damage" value="{{system.damage}}" data-dtype="Number" />
            </div>
            <div class="flex column item-attr-row">
                <label for="system.range" class="resource-label">{{localize 'MYZ.RANGE'}}</label>
                <select name="system.range">
                    {{selectOptions MYZ.RANGES selected=system.range localize=true}}
                </select>
            </div>
            <div class="flex column item-attr-row">
                <label r="system.category" class="resource-label">{{localize "MYZ.CATEGORY"}}</label>
                <select name="system.category">
                    {{selectOptions MYZ.WEAPON_CATEGORIES selected=system.category localize=true}}
                </select>
            </div>
            <div class="item-attr-row">
                <label for="system.bonus.value" class="resource-label">{{localize 'MYZ.BONUS'}}</label>
                <div class="flex">
                    <input type="text" name="system.bonus.value" value="{{system.bonus.value}}" />
                    <span>/</span>
                    <input type="text" name="system.bonus.max" value="{{system.bonus.max}}" />
                </div>
            </div>
        </div>
        <div class="item-attr-row">
            <label for="system.useBullets" class="resource-label">{{localize 'MYZ.USES_BULLETS'}}</label>
            <input type="checkbox" name="system.useBullets" {{#if system.useBullets}}checked{{/if}} />
        </div>
        <div class="item-attr-row">
            <label for="system.comment" class="resource-label">{{localize 'MYZ.COMMENT'}}</label>
            <input type="text" name="system.comment" value="{{system.comment}}" />
        </div>
    </div>
<h2>Description</h2>
<div class="info-mid">
    <div class="description">
        {{#if editable}}
        <prose-mirror name='system.description' data-document-uuid='{{item.uuid}}' value='{{system.description}}'
            collaborate='false' toggled='false'>
            {{{descriptionHTML}}}
        </prose-mirror>
        {{else}}
        {{{descriptionHTML}}}
        {{/if}}
    </div>
</div>

</section>