<div class="box-item header flex row align-center {{system.creatureType}}">
    <label class="item-name">{{localize "MYZ.ATTRIBUTES"}}</label>
</div>
<div class="box-list attributes {{system.creatureType}}">
    <div class="box-item flex row align-center space-between" {{#ifCond system.attributes.strength.value '<' system.attributes.strength.max}}style="background-color:#f1510d9e" {{/ifCond}}>
        <label data-action="onRollAttribute" class="item-name attribute-name roll-attribute rollable" data-attribute="strength">{{localize (toUpperCase (concat "MYZ.ATTRIBUTE" "_STRENGTH_" system.creatureType))}}</label>
        <div class="item-controls flex row">
            <input type="number" name="system.attributes.strength.value" value="{{system.attributes.strength.value}}" class="short-input" />
            <label style="padding-top: 0.2em">&nbsp;/&nbsp;</label>
            <input type="number" name="system.attributes.strength.max" value="{{system.attributes.strength.max}}" class="short-input" />
        </div>
    </div>
    <div class="box-item flex row align-center space-between" {{#ifCond system.attributes.agility.value '<' system.attributes.agility.max}}style="background-color:#f1510d9e" {{/ifCond}}>
        <label data-action="onRollAttribute" class="item-name attribute-name roll-attribute rollable" data-attribute="agility">{{localize (toUpperCase (concat "MYZ.ATTRIBUTE" "_AGILITY_" system.creatureType))}}</label>
        <div class="item-controls flex row">
            <input type="number" name="system.attributes.agility.value" value="{{system.attributes.agility.value}}" class="short-input" />
            <label style="padding-top: 0.2em">&nbsp;/&nbsp;</label>
            <input type="number" name="system.attributes.agility.max" value="{{system.attributes.agility.max}}" class="short-input" />
        </div>
    </div>
    <div class="box-item flex row align-center space-between" {{#ifCond system.attributes.wits.value '<' system.attributes.wits.max}}style="background-color:#f1510d9e" {{/ifCond}}>
        <label data-action="onRollAttribute" class="item-name attribute-name roll-attribute rollable" data-attribute="wits">{{localize (toUpperCase (concat "MYZ.ATTRIBUTE" "_WITS_" system.creatureType))}}</label>
        <div class="item-controls flex row">
            <input type="number" name="system.attributes.wits.value" value="{{system.attributes.wits.value}}" class="short-input" />
            <label style="padding-top: 0.2em">&nbsp;/&nbsp;</label>
            <input type="number" name="system.attributes.wits.max" value="{{system.attributes.wits.max}}" class="short-input" />
        </div>
    </div>
    <div class="box-item flex row align-center space-between" {{#ifCond system.attributes.empathy.value '<' system.attributes.empathy.max}}style="background-color:#f1510d9e" {{/ifCond}}>
        <label data-action="onRollAttribute" class="item-name attribute-name roll-attribute rollable" data-attribute="empathy">{{localize (toUpperCase (concat "MYZ.ATTRIBUTE" "_EMPATHY_" system.creatureType))}}</label>
        <div class="item-controls flex row">
            <input type="number" name="system.attributes.empathy.value" value="{{system.attributes.empathy.value}}" class="short-input" />
            <label style="padding-top: 0.2em">&nbsp;/&nbsp;</label>
            <input type="number" name="system.attributes.empathy.max" value="{{system.attributes.empathy.max}}" class="short-input" />
        </div>
    </div>
</div>