<div class="box-item header flex row align-center space-between {{system.creatureType}}">
    <label class="item-name">{{localize "MYZ.GEAR"}}</label>
    <span class="item-controls">
        <a class="item-create" data-action="createDoc" data-type="gear">{{localize "MYZ.Add"}}</a>
    </span>
</div>
<ol class="box-list gear {{system.creatureType}}">
    {{#each gear as |gear key|}}
    <li class="box-item gear flex row align-center space-between editable-item  item-edit" data-physical="1" data-item-id="{{gear._id}}">
        <span class="item-name flex row align-center">
            <img class="item-image" src="{{gear.img}}" />
            <a data-action="viewDoc" data-item-id="{{gear._id}}">{{gear.name}} &nbsp;</a>
            <input type="number" class="owned-item-value num-value-1rem" name="items.{{gear._id}}.system.quantity" value="{{gear.system.quantity}}" data-item-id="{{gear._id}}" data-linked-value="system.quantity">
        </span>
        <span class="item-controls">
            <label><i class="fas fa-weight-hanging"></i>:{{math gear.system.quantity "*" gear.system.weight}}</label>
            <!-- <label><i class="fas fa-weight-hanging"></i>:{{gear.system.weight}}</label> -->
            {{#if gear.system.stashed}}<a class="item-control item-stash-toggle" title='{{localize "MYZ.UN_STASH_ITEM"}}'>
                <i class="fa-regular fa-box"></i>
            </a>{{/if}}
        </span>
    </li>
    {{/each}}
</ol>