<div class="actor-header">
    <img class="profile-img" src="{{actor.img}}" data-action="editImage" data-field="img" alt="{{actor.name}}">
    <div class="header-fields">
        <div class="row1 align-center">
            <div class="charname flex row">
                <input name="name" class="nolabel" type="text" value="{{actor.name}}" placeholder="Name" />
            </div>
            <div class="flex row">
                <input class="nolabel" name="system.role" type="text" value="{{system.role}}" placeholder="{{localize (toUpperCase (concat 'MYZ.ROLE_FOR_' system.creatureType))}}" />
            </div>
            <div class="flex row space-between">
                <label style="align-self: center" for="system.xp.value">{{localize "MYZ.XP"}}:</label>
                <input class="nolabel short-input" type="text" data-type="Number" name="system.xp.value" value="{{system.xp.value}}" />
            </div>
        </div>
        <div class="row2 align-center">
            <div>
                <input class="nolabel" name="system.rank" type="text" value="{{system.rank}}" placeholder="{{localize (toUpperCase (concat 'MYZ.RANK_FOR_'
                system.creatureType))}}" />
            </div>
            <div>
                <input class="nolabel" name="system.specificType" type="text" value="{{system.specificType}}" placeholder="{{localize (toUpperCase (concat 'MYZ.SPECIFIC_TYPE_FOR_' system.creatureType))}}" />
            </div>
            <div class="flex row space-between">
                <label style="align-self: center" for="system.age">{{localize "MYZ.AGE"}}:</label>
                <input class="nolabel short-input" name="system.age" type="text" data-type="Number" value="{{system.age}}" />
            </div>
        </div>
        <div class="row3 align-center">
            {{> systems/mutant-year-zero/templates/actor/partials/character-rot.hbs}}
            <div class="armor-box armor {{system.creatureType}}">
                <label class="item-name armor-roll rollable" for="system.armorrating.value" data-action="onRollArmor">{{localize 'MYZ.ARMOR'}}</label>
                <div class="armor-roll shield-box" data-action="onRollArmor">{{system.armorrating.value}}</div>
            </div>
        </div>
    </div>
</div>