<div class="box-item physical header flex row align-center space-between {{system.creatureType}}">
    <label class="item-name">{{localize "MYZ.ARMOR"}}</label>
    <div class="item-values flexrow center align-center">
        <label>{{localize 'MYZ.ARMOR_RATING'}}</label>
        <label>{{localize 'MYZ.ARMOR_TYPE'}}</label>
        <label>{{localize 'MYZ.ARMOR_ROT_PROTECTION'}}</label>
    </div>
    <div class="item-controls">
        <a class="item-create" data-action="createDoc" data-type="armor">{{localize "MYZ.Add"}}</a>
    </div>
</div>
<ol class="box-list {{system.creatureType}}">
    {{#each armor as |item key|}}
    <li class="box-item physical flex row align-center space-between editable-armor item-edit" data-physical="1" data-item-id="{{item._id}}">
        <span class="item-name flex row align-center {{#if (isBroken item)}}broken{{/if}}" data-item-id="{{item._id}}">
            <img class="item-image" src="{{item.img}}" />
            <a class="rollable armor-item-roll">{{item.name}}</a>
            {{#if (isArtifact item)}} <img class="item-image" src="systems/mutant-year-zero/assets/ico/trophy.svg" style="border:none" />{{/if}}                        
        </span>
        <div class="item-values flexrow center">
            <span>
                <input type="number" class="owned-item-value num-value-1rem" name="items.{{item._id}}.system.rating.value" value="{{item.system.rating.value}}" data-linked-value="system.rating.value" data-item-id="{{item._id}}">
                <label>/{{item.system.rating.max}}</label>
            </span>
            <label style="align-self: center;">{{localize (toUpperCase (concat "MYZ." item.system.armorType))}}</label>
            <a style="align-self: center;" class="rollable armor-rot-protection-roll">{{item.system.rot.value}}</a>
        </div>

        {{> systems/mutant-year-zero/templates/actor/partials/item-edit-controls.hbs item=item}}
    </li>
    {{/each}}
</ol>