<div class="box-item flex header align-center {{system.creatureType}}">
    <label class="item-name">{{localize "MYZ.CONSUMABLES"}}</label>
</div>
<div class="box-list consumables {{system.creatureType}}">
    <div class="box-item flex row space-betwen align-center resource">
        <label class="item-name" for="system.resources.grub.value">{{localize "MYZ.GRUB"}}</label>
        <input class="short-input-2em" name="system.resources.grub.value" type="number" data-type="Number" min="0" data-tooltip="{{localize 'MYZ.CLEAN'}}" value="{{system.resources.grub.value}}" />
        <input class="short-input-2em rot" name="system.resources.grubRot.value" type="number" data-type="Number" min="0" data-tooltip="<i class='fa-regular fa-biohazard'></i> {{localize 'MYZ.ROT'}}" value="{{system.resources.grubRot.value}}" />
    </div>
    <div class="box-item flex row space-betwen align-center resource">
        <label class="item-name" for="system.resources.water.value">{{localize "MYZ.WATER"}}</label>
        <input class="short-input-2em" name="system.resources.water.value" type="number" data-type="Number" min="0" data-tooltip="{{localize 'MYZ.CLEAN'}}" value="{{system.resources.water.value}}" />
        <input class="short-input-2em rot" name="system.resources.waterRot.value" type="number" data-type="Number" min="0" data-tooltip="<i class='fa-regular fa-biohazard'></i> {{localize 'MYZ.ROT'}}" value="{{system.resources.waterRot.value}}" />
    </div>
    <div class="box-item flex row space-betwen align-center resource">
        <label class="item-name" for="system.resources.bullets.value">{{localize "MYZ.BULLETS"}}</label>
        <input class="short-input" name="system.resources.bullets.value" type="number" data-type="Number" min="0" value="{{system.resources.bullets.value}}" />
    </div>
    <div class="box-item flex row space-betwen align-center resource">
        <label class="item-name" for="system.resources.booze.value">{{localize "MYZ.BOOZE"}}</label>
        <input class="short-input" name="system.resources.booze.value" type="number" data-type="Number" min="0" value="{{system.resources.booze.value}}" />
    </div>
</div>