<section
  class='tab projects {{tab.cssClass}}'
  data-group='primary'
  data-tab='projects'
>
    <ol class="box-list projects-box" style="border-top: 1px solid; height: 100%">
        <li class="flexrow box-item align-center projects-box-header">
            <label style="flex: 2">{{localize 'MYZ.NAME'}}</label>
            <label style="flex: 2">{{localize 'MYZ.SKILLS'}}</label>
            <label style="flex: 2">{{localize 'MYZ.WORK_POINTS'}}</label>
            <div style="flex: 1; text-align: center">{{localize 'MYZ.COMPLETED'}}</div>
            <a style="text-align: right; padding-right: 5px" class="item-create" data-action="createDoc" data-type="project">{{localize "MYZ.Add"}}</a>
        </li>
        {{#each projects as |item id|}}
        <li class="box-item align-center project" data-item-id="{{item._id}}" style="padding-left: 5px">
            <div class="flexrow margin-bottom">
                <label style="flex: 2;"><span {{#if item.system.completed}} style='background-color:green; color:white; padding: 0 0.2rem;'{{/if}}><strong>{{item.name}}</strong></span></label>
                <label style="flex: 2">{{item.system.skills}}</label>
                <label style="flex: 2">{{item.system.work_points}}</label>
                <div style="flex: 1; text-align: center">                            
                    <input type="checkbox" {{checked item.system.completed}} name="items.{{item._id}}.system.completed">
                </div>
                <div class="item-controls" style="flex: 1">
                    <a class="chatable" data-action="sendToChat" data-item-id="{{item._id}}" title="{{localize 'MYZ.TOCHAT'}}"><i class="fas fa-comment"></i></a>
                    <a class="item-control" data-action="viewDoc" data-item-id="{{item._id}}" title="{{localize 'MYZ.EDIT'}}"><i class="fas fa-edit"></i></a>
                    <a class="item-control" data-action="deleteDoc" data-item-id="{{item._id}}" title="{{localize 'MYZ.DELETE'}}"><i class="fas fa-trash"></i></a>
                </div>
            </div>
            <div class="flexcol item-info">
                <label class="size12"><strong>{{localize 'MYZ.DEV_BONUS'}} :</strong> {{item.system.DEV_Bonus}}</label>
                <label class="size12"><strong>{{localize 'MYZ.DEV_REQUIREMENT'}} :</strong> {{item.system.DEV_Requirement}}</label>
            </div>
            <div class="flexrow item-info">
                <label class="size12"><strong>{{localize 'MYZ.FOOD'}} :</strong> {{item.system.food}} </label>
                <label class="size12"><strong>{{localize 'MYZ.CULTURE'}} :</strong> {{item.system.culture}} </label>
                <label class="size12"><strong>{{localize 'MYZ.TECHNOLOGY'}} :</strong> {{item.system.technology}} </label>
                <label class="size12"><strong>{{localize 'MYZ.WARFARE'}} :</strong> {{item.system.warfare}} </label>
            </div>
        </li>
        {{/each}}
    </ol>

</section>