<section
  class='tab bosses {{tab.cssClass}}'
  data-group='primary'
  data-tab='bosses'
>
    <div class="tab" data-group="primary" data-tab="bosses">
            <div class="grid">
                <div class="boss-box">
                    <input type="text" class="blank input-underline margin-bottom boss-name" name="system.bosses.boss1.name" value="{{system.bosses.boss1.name}}" placeholder="{{localize 'MYZ.BOSS_NAME'}}" />
                    <input type="text" class="blank input-underline margin-bottom" name="system.bosses.boss1.type" value="{{system.bosses.boss1.type}}" placeholder="{{localize 'MYZ.BOSS_TYPE'}}" />
                    <textarea name="system.bosses.boss1.description" placeholder="{{localize 'MYZ.DESCRIPTION'}}">{{system.bosses.boss1.description}}</textarea>
                </div>
                <div class="boss-box">
                    <input type="text" class="blank input-underline margin-bottom boss-name" name="system.bosses.boss2.name" value="{{system.bosses.boss2.name}}" placeholder="{{localize 'MYZ.BOSS_NAME'}}" />
                    <input type="text" class="blank input-underline margin-bottom" name="system.bosses.boss2.type" value="{{system.bosses.boss2.type}}" placeholder="{{localize 'MYZ.BOSS_TYPE'}}" />
                    <textarea name="system.bosses.boss2.description" placeholder="{{localize 'MYZ.DESCRIPTION'}}">{{system.bosses.boss2.description}}</textarea>
                </div>
                <div class="boss-box">
                    <input type="text" class="blank input-underline margin-bottom boss-name" name="system.bosses.boss3.name" value="{{system.bosses.boss3.name}}" placeholder="{{localize 'MYZ.BOSS_NAME'}}" />
                    <input type="text" class="blank input-underline margin-bottom" name="system.bosses.boss3.type" value="{{system.bosses.boss3.type}}" placeholder="{{localize 'MYZ.BOSS_TYPE'}}" />
                    <textarea name="system.bosses.boss3.description" placeholder="{{localize 'MYZ.DESCRIPTION'}}">{{system.bosses.boss3.description}}</textarea>
                </div>
                <div class="boss-box">
                    <input type="text" class="blank input-underline margin-bottom boss-name" name="system.bosses.boss4.name" value="{{system.bosses.boss4.name}}" placeholder="{{localize 'MYZ.BOSS_NAME'}}" />
                    <input type="text" class="blank input-underline margin-bottom" name="system.bosses.boss4.type" value="{{system.bosses.boss4.type}}" placeholder="{{localize 'MYZ.BOSS_TYPE'}}" />
                    <textarea name="system.bosses.boss4.description" placeholder="{{localize 'MYZ.DESCRIPTION'}}">{{system.bosses.boss4.description}}</textarea>
                </div>
                <div class="boss-box">
                    <input type="text" class="blank input-underline margin-bottom boss-name" name="system.bosses.boss5.name" value="{{system.bosses.boss5.name}}" placeholder="{{localize 'MYZ.BOSS_NAME'}}" />
                    <input type="text" class="blank input-underline margin-bottom" name="system.bosses.boss5.type" value="{{system.bosses.boss5.type}}" placeholder="{{localize 'MYZ.BOSS_TYPE'}}" />
                    <textarea name="system.bosses.boss5.description" placeholder="{{localize 'MYZ.DESCRIPTION'}}">{{system.bosses.boss5.description}}</textarea>
                </div>
                <div class="boss-box">
                    <input type="text" class="blank input-underline margin-bottom boss-name" name="system.bosses.boss6.name" value="{{system.bosses.boss6.name}}" placeholder="{{localize 'MYZ.BOSS_NAME'}}" />
                    <input type="text" class="blank input-underline margin-bottom" name="system.bosses.boss6.type" value="{{system.bosses.boss6.type}}" placeholder="{{localize 'MYZ.BOSS_TYPE'}}" />
                    <textarea name="system.bosses.boss6.description" placeholder="{{localize 'MYZ.DESCRIPTION'}}">{{system.bosses.boss6.description}}</textarea>
                </div>
            </div>
        </div>

</section>