<section
  class='tab effects {{tab.cssClass}}'
  data-group='primary'
  data-tab='effects'>
 
   <ol class="box-list">
    {{#each effects as |section sid|}}
    <li class="box-item header {{../system.creatureType}} flex align-center" data-effect-type="{{section.type}}">
        <div class="item-name effect-name">{{localize section.label}}</div>
        <div class="effect-source">{{localize "MYZ.TEMPLATES.Source"}}</div>
        <div class="effect-source">{{localize "MYZ.TEMPLATES.Duration"}}</div>
        <div class="item-controls effect-controls flexrow">
            <a class="effect-control" data-action="createAEffect" title="{{localize 'MYZ.EffectCreate'}}">{{localize "MYZ.Add"}}</a>
        </div>
    </li>

    <ol class="box-list">
        {{#each section.effects as |effect|}}
        <li class="box-item effect flex align-center" data-effect-id="{{effect.id}}">
            <div class="item-name effect-name flexrow">
                <img class="item-image" style="max-width: 20px; max-height: 20px; background-color:black" src="{{effect.img}}" />
                <label>{{effect.name}}</label>
            </div>
            <div class="effect-source">{{effect.sourceName}}</div>
            <div class="effect-duration">{{effect.duration.label}}</div>
            <div class="item-controls effect-controls flexrow">
                <a class="effect-control" data-action="toggleAEffect" title="{{localize 'MYZ.EffectToggle'}}">
                    <i class="fas {{#if effect.disabled}}fa-check{{else}}fa-times{{/if}}"></i>
                </a>
                <a class="effect-control" data-action="editAEffect" title="{{localize 'MYZ.EffectEdit'}}">
                    <i class="fas fa-edit"></i>
                </a>
                <a class="effect-control" data-action="deleteAEffect" title="{{localize 'MYZ.EffectDelete'}}">
                    <i class="fas fa-trash"></i>
                </a>
            </div>
        </li>
        {{/each}}
    </ol>
    {{/each}}
</ol>
</section>