<section class='tab attributes {{tab.cssClass}} drop-zone-for-occupants' data-group='primary' data-tab='attributes'>

    {{!-- ATTRIBUTES --}}
    <div class="box-list">
        <div class="flexrow align-center spaceship-resource-row-header">
            <p><strong>{{localize "MYZ.SPACESHIP.Stats"}}:</strong></p>
            <p><strong>{{localize "MYZ.SPACESHIP.Gear_Bonus"}}:</strong></p>
            <p><strong>{{localize "MYZ.SPACESHIP.Skills"}}:</strong></p>
        </div>
        <div class="flexrow align-center odd-child spaceship-resource-row ">
            <label><strong>{{localize "MYZ.SPACESHIP.Hull"}}:</strong></label>
            <div>
                <input class="nolabel short-input" type="number" data-type="Number" name="system.hull.value"
                    value="{{system.hull.value}}" />
                <span>/</span>
                <input class="nolabel short-input" type="number" data-type="Number" name="system.hull.max"
                    value="{{system.hull.max}}" />
            </div>
            <div class="ship-skill-list">
                {{#each spaceshipSkills.Hull}}<span class="skill" data-skillkey="{{this}}"
                    data-gearbonus="{{../system.hull.value}}">{{localize (concat "MYZ.SKILL_" this)}}</span>, {{/each}}
            </div>
        </div>
        <div class="flexrow align-center spaceship-resource-row">
            <label><strong>{{localize "MYZ.SPACESHIP.Sensors"}}:</strong></label>
            <div>
                <input class="nolabel short-input" type="number" data-type="Number" name="system.sensors.value"
                    value="{{system.sensors.value}}" />
                <span>/</span>
                <input class="nolabel short-input" type="number" data-type="Number" name="system.sensors.max"
                    value="{{system.sensors.max}}" />
            </div>
            <div class="ship-skill-list">
                {{#each spaceshipSkills.Sensors}}<span class="skill" data-skillkey="{{this}}"
                    data-gearbonus="{{../system.sensors.value}}">{{localize (concat "MYZ.SKILL_" this)}}</span>,
                {{/each}}
            </div>
        </div>
        <div class="flexrow align-center odd-child spaceship-resource-row">
            <label><strong>{{localize "MYZ.SPACESHIP.Engine"}}:</strong></label>
            <div>
                <input class="nolabel short-input" type="number" data-type="Number" name="system.engine.value"
                    value="{{system.engine.value}}" />
                <span>/</span>
                <input class="nolabel short-input" type="number" data-type="Number" name="system.engine.max"
                    value="{{system.engine.max}}" />
            </div>
            <div class="ship-skill-list">
                {{#each spaceshipSkills.Engine}}<span class="skill" data-skillkey="{{this}}"
                    data-gearbonus="{{../system.engine.value}}">{{localize (concat "MYZ.SKILL_" this)}}</span>,
                {{/each}}
            </div>
        </div>
        <div class="flexrow align-center spaceship-resource-row">
            <label><strong>{{localize "MYZ.SPACESHIP.Life_Support"}}:</strong></label>
            <div>
                <input class="nolabel short-input" type="number" data-type="Number" name="system.lifeSupport.value"
                    value="{{system.lifeSupport.value}}" />
                <span>/</span>
                <input class="nolabel short-input" type="number" data-type="Number" name="system.lifeSupport.max"
                    value="{{system.lifeSupport.max}}" />
            </div>
            <div class="ship-skill-list">
                {{#each spaceshipSkills.LifeSupport}}<span class="skill" data-skillkey="{{this}}"
                    data-gearbonus="{{../system.lifeSupport.value}}">{{localize (concat "MYZ.SKILL_" this)}}</span>,
                {{/each}}
            </div>
        </div>
    </div>

    {{!-- DEFENSE --}}
    <div class="grid" style="margin-bottom: 5px; color:black">
        <div class="flexrow flex-group-left odd-child">
            <label><strong>{{localize "MYZ.SPACESHIP.Resilience"}}:</strong></label>
            <div>
                <input class="nolabel short-input" type="number" data-type="Number" name="system.resilience.value"
                    value="{{system.resilience.value}}" />
                <span>/</span>
                <input class="nolabel short-input" type="number" data-type="Number" name="system.resilience.max"
                    value="{{system.resilience.max}}" />
            </div>
        </div>
        <div class="flexrow flex-group-left odd-child">
            <label><strong>{{localize "MYZ.SPACESHIP.Armor"}}:</strong></label>
            <div>
                <input class="nolabel short-input" type="number" data-type="Number" name="system.armor.value"
                    value="{{system.armor.value}}" />
                <span>/</span>
                <input class="nolabel short-input" type="number" data-type="Number" name="system.armor.max"
                    value="{{system.armor.max}}" />
            </div>
        </div>
    </div>

    {{!-- WEAPONS --}}

    <div class="box-item physical header flex row align-center space-between weapon spaceship-resource-row-header">
        <label class="item-name">{{localize "MYZ.WEAPONS"}}</label>
        <div class="item-values grid grid-3col center">
            <label>{{localize 'MYZ.BONUS'}}</label>
            <label>{{localize 'MYZ.DAMAGE'}}</label>
            <label>{{localize 'MYZ.RANGE'}}</label>
        </div>
        <div class="item-controls">
            <a class="item-create" data-action="createDoc" data-type="weapon">{{localize "MYZ.Add"}}</a>
        </div>
    </div>    
    <ol class="box-list">
        {{#each weapons as |weapon key|}}
        <li class="box-item physical flex row align-center space-between editable-item weapon item-edit" data-physical="1"
            data-item-id="{{weapon._id}}">
            <span class="item-name flex row align-center roll-weapon rollable {{#if (isBroken weapon)}}broken{{/if}}"
                data-item-id="{{weapon._id}}">
                <img class="item-image" src="{{weapon.img}}" />
                <a>{{weapon.name}}</a>
                {{#if (isArtifact weapon)}} <img class="item-image" src="systems/mutant-year-zero/assets/ico/trophy.svg"
                    style="border:none" />{{/if}}
            </span>
            <div class="item-values grid grid-3col center">
                <span>
                    <input type="number" class="owned-item-value num-value-1rem" value="{{weapon.system.bonus.value}}"
                        data-linked-value="system.bonus.value" data-item-id="{{weapon._id}}">
                    <label>/{{weapon.system.bonus.max}}</label>
                </span>
                <!-- <label class="flex flex-center">{{weapon.system.bonus.value}} / {{weapon.system.bonus.max}}</label> -->
                <label class="flex flex-center">{{weapon.system.damage}}</label>
                <label class="flex flex-center">{{localize (toUpperCase (concat "MYZ." weapon.system.range))}}</label>
            </div>
            <div class="item-controls">
                {{#if weapon.system.stashed}}<a class="item-control item-stash-toggle"
                    title='{{localize "MYZ.UN_STASH_ITEM"}}'>
                    <i class="fa-regular fa-box"></i>
                </a>{{/if}}                
            </div>
        </li>
        {{/each}}
    </ol>
</section>